html, body {
  height: 100%;
}

body {
  padding-top: 3.5rem;
}
@media (prefers-color-scheme:light) {
  body {background-color:#eaeaea!important;color:#000!important;}
  /*Change image here to modify Light mode Banner */
  #bannerBackground {background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('../images/bg-light01.jpg');background-repeat:no-repeat;background-size:cover;background-position:45% 45%;}
  #navbarUsername {color:#8bc34a!important;}
  #navbarDownload {color:#f9a825!important;}
  #alertContainer {margin-top:20px;max-width:40rem;}
  #registerCard {max-width:40rem;margin:0 auto;float:none;margin-bottom:10px;}
  #registerContainer {padding:20px;margin-bottom:100px;}
  #loginCard {max-width:40rem;margin:0 auto;float:none;margin-bottom:10px;}
  #loginContainer {padding:20px;margin-bottom:100px;}
  #statusOnline {color: #00c703;}
  #statusOffline {color: #dc3135;}
  #newsColumn {padding:20px;margin-bottom:100px;}
  #buttonSpacing {margin-bottom: 20px;}  
  #loginRegisterBtnspace {padding-right:15px;}
  #bazaarContainer {padding-top:20px;margin-bottom:100px;}
  #auctionContainer {padding-top:20px;margin-bottom:100px;}
  #newsContainer{padding-top:20px;margin-bottom:100px;}
  /*Change these images below to change the news image on the index.php page
    If you want to change the ones on the Details Page that is in the config.php*/
  #newsSummary1 {height:200px;background-image: url('../images/news/news1.jpg');background-repeat:no-repeat;background-size:cover;}
  #newsDetails1 {height:300px;background-image: url('../images/news/news1.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-bottom:10px;margin-left: inherit;width:400px;}
  #newsSummary2 {height:200px;background-image: url('../images/news/news2.jpg');background-repeat:no-repeat;background-size:cover;}
  #newsDetails2 {height:300px;background-image: url('../images/news/news2.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-bottom:10px;margin-left: inherit;width:400px;}
  #newsSummary3 {height:200px;background-image: url('../images/news/news4.jpg');background-repeat:no-repeat;background-size:cover;}
  #newsDetails3 {height:300px;background-image: url('../images/news/news4.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-bottom:10px;margin-left: inherit;width:400px;}
  /*#navRegisterLink {padding-right:20px;}*/
  #servAccContainer {padding:20px;margin-bottom:10px;}
  #servAccCard {max-width: 45rem;margin:0 auto;float: none;margin-bottom:10px;}
  #webAccContainer {margin-bottom: 80px;padding:20px;}
  #webAccCard {max-width: 45rem;margin:0 auto;float: none;margin-bottom:10px;}
  #webAccCardBody {margin-bottom: 60px;}
  #emptyCharactersAlert {border:1px solid #cecece;text-align:center;padding-top:20px;margin-bottom:100px;}
  #charContainer {border:1px solid #cecece;padding:10px;margin-bottom:100px;margin-left:10px;width:99%;}
  #charRow {height:100%;}
  #charNavbar {height:100% !important;}
  #viewGeneralRowAlign {margin-top:10px;}
  #charPortraitImg {width:50%;border:#000000 8px solid;}
  #col6RowStyle {margin-top:10px;height:20%;}
  #h1col6Style {text-align:center;width:100%;}
  #h2col6Style {text-align:center;width:100%;}
  #charCurrentZone {margin-top:20px;}
  #charHPMPBars {margin-top:20px;opacity: 0.85;}
  #charMJobEXP {margin-top:20px;opacity: 0.85;}
  #viewSkills {height:90%;overflow:scroll;display:none;}
  #viewCharLists {height:90%;overflow:scroll;display:none;}
  #viewSpells {height:90%;overflow:scroll;display:none;}
  #viewInventory {height:90%;overflow:scroll;display:none;}
  #invHelpText1 {width:100%;text-align:center;margin-bottom:0px;}
  #invHelpText2 {width:100%;text-align:center;}
  #invGilText {width:100%;text-align:center;}
  #invColumnSmall {padding:10px;}
  #invTableStyle {margin-left:auto;margin-right:auto}
  #viewJobs {height:90%;overflow:scroll;display:none;}
  #viewCurrencies {height:90%;overflow:scroll;display:none;}
  #installContainer {padding-bottom: 60px;}
  .footer {background-color:#f5f5f5!important;}
  svg-inline--fa fa-desktop {color:#00c703!important;}
}
@media (prefers-color-scheme: dark) {
  body {background-color:#232827!important;color:#9b9d9e!important;}
  tr td a {color:#337be5!important;}
  /*Change image here to modify Dark mode Banner */
  #bannerBackground {background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('../images/bg-dark04.jpg');background-repeat: no-repeat;background-size: cover;background-position:45% 45%;}
  #navbarUsername {color:#8bc34a!important;}
  #navbarDownload {color:#f9a825!important;}
  #alertContainer {margin-top:20px;max-width:40rem;}
  #registerCard {max-width:40rem;margin: 0 auto;float:none;margin-bottom:10px;}
  #registerContainer {padding:20px;margin-bottom:100px;}
  #loginCard {max-width:40rem;margin:0 auto;float: none;margin-bottom: 10px;}
  #loginContainer {padding:20px;margin-bottom:100px;}
  #statusOnline {color:#00c703;}
  #statusOffline {color:#dc3135;}
  #newsColumn {padding:20px;margin-bottom:100px;opacity:0.85!important;}
  #buttonSpacing {margin-bottom:20px;}
  #loginRegisterBtnspace {padding-right:15px;}
  #bazaarContainer {padding-top:20px;margin-bottom:100px;}
  #auctionContainer {padding-top:20px;margin-bottom:100px;}
  #newsContainer{padding-top:20px;margin-bottom:100px;}
  /*Change these images below to change the news image on the index.php page
    If you want to change the ones on the Details Page that is in the config.php*/
  #newsSummary1 {height:200px;background: url('../images/news/news1.jpg');background-repeat:no-repeat;background-size:100% 100%;}
  #newsDetails1 {height:300px;background: url('../images/news/news1.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-bottom:10px;margin-left: inherit;width:450px;}
  #newsSummary2 {height:200px;background: url('../images/news/news2.jpg');background-repeat:no-repeat;background-size:100% 100%;}
  #newsDetails2 {height:300px;background: url('../images/news/news2.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-bottom:10px;margin-left: inherit;width:450px;}
  #newsSummary3 {height:200px;background: url('../images/news/news4.jpg');background-repeat:no-repeat;background-size:100% 100%;}
  #newsDetails3 {height:300px;background: url('../images/news/news4.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-bottom:10px;margin-left: inherit;width:450px;}
  /*#navRegisterLink {padding-right:20px;}*/
  #servAccContainer {padding:20px;margin-bottom:10px;}
  #servAccCard {max-width:45rem;margin:0 auto;float:none;margin-bottom:10px;}
  #webAccContainer {margin-bottom: 80px;padding:20px;}
  #webAccCard {max-width:45rem;margin:0 auto;float:none;margin-bottom:60px!important;}
  #webAccCardBody {margin-bottom:0px;}
  #emptyCharactersAlert {border:1px solid #575b5b;text-align:center;padding-top:20px;margin-bottom:100px;}
  #charContainer {border:1px solid #575b5b;padding:10px;margin-bottom:100px;margin-left:10px;width:99%;}
  #charRow {height:100%!important;}
  #charNavbar {height:100%!important;}
  #viewGeneralRowAlign {margin-top:10px;}
  #charPortraitImg {width:50%;border:#000000 8px solid;}
  #col6RowStyle {margin-top:10px;height:20%;}
  #h1col6Style {text-align:center;width:100%;color:#e2ebe9!important;}
  #h2col6Style {text-align:center;width:100%;color:#e2ebe9!important;}
  #charCurrentZone {margin-top:20px;}
  #charHPMPBars {margin-top:20px;opacity:0.90!important;}
  #charMJobEXP {margin-top:20px;opacity:0.90!important;}
  #viewSkills {height:90%;overflow:scroll;display:none;}
  #viewCharLists {height:90%;overflow:scroll;display:none;}
  #viewSpells {height:90%;overflow:scroll;display:none;}
  #viewInventory {height:90%;overflow:scroll;display:none;}
  #invHelpText1 {width:100%;text-align:center;margin-bottom:0px;}
  #invHelpText2 {width:100%;text-align:center;}
  #invGilText {width:100%;text-align:center;}
  #invColumnSmall {padding:10px;}
  #invTableStyle {margin-left:auto;margin-right:auto;}
  #viewJobs {height:90%;overflow:scroll;display:none;}
  #viewCurrencies {height:90%;overflow:scroll;display:none;}
  #installContainer {padding-bottom: 60px;}
  div.dropdown-menu.show {background-color:#242d2d;}
  a.dropdown-item {color:#e2ebe9!important;}
  a.dropdown-item:hover {background-color:#313a3a!important;}
  div.dropdown-divider {background-color:#e2ebe9!important;}
  .form-control:disabled,.form-control[readonly]{background-color:#1a1b1c!important;opacity:1;}
  .table {color:#c0c9c7!important;}
  li.list-group-item.list-group-item-secondary {background-color:#404a48;color:#e2ebe9!important;}
  button.list-group-item.list-group-item-action.active {color:#e2ebe9!important;background-color:#1e63c9!important;border-color:#1e63c9!important;}
  button.list-group-item.list-group-item-action {background-color:#333837;color:#e2ebe9!important;}
  a.nav-link.active {color:#e2ebe9!important;background-color:#1e63c9!important;border-color:#1e63c9!important;}
  .footer {background-color:#2e3332!important;}
  .btn-primary {background-color:#1363d9!important;border-color:#1363d9!important;color:#d0d7d6!important}
  .btn-success {background-color:#1c8655!important;border-color:#1c8655!important;color:#d0d7d6!important}
  span.text-muted {color:#e2ebe9!important;}
  div.dataTables_info {color:#6c7375!important;}
  label {color:#aab5b9!important;}
  div label input {background-color:#2b3332!important;color:#aab5b9!important;border-color:#4f5453!important;}
  div label select {background-color:#2b3332!important;color:#e2ebe9!important;border-color:#4f5453!important;}
  h1.display-3 {color:#aab5b9!important;}
  p {color:#aab5b9!important;}
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {color:#fff!important;font-weight:bold;border:1px solid#979797!important;background-color:#2e3332!important;background:-webkit-gradient(linear, left top, left bottom,color-stop(0%,#98a09e),color-stop(100%,#5f6362))!important;background:-webkit-linear-gradient(top,#98a09e 0%,#5f6362 100%)!important;background:-moz-linear-gradient(top,#98a09e 0%,#5f6362 100%)!important;background:-ms-linear-gradient(top,#98a09e 0%,#5f6362 100%)!important;background:-o-linear-gradient(top,#98a09e 0%,#5f6362 100%)!important;background:linear-gradient(to bottom,##98a09e 0%,#5f6362 100%)!important;}
  a.paginate_button {background-color:#2b3332!important;color:#959998!important;}
  a.paginate_button.current {background-color:#5a5e5e!important;color:#959998!important;}
  tbody {color:#c0c9c7!important;}
  thead {background-color:#2b3332!important;}
  tfoot {background-color:#2b3332!important;}
  tr.odd {background-color:#232827!important;color:#aab5b9!important;}
  tr.even {background-color:#303735!important;color:#aab5b9!important;}
  tr.odd td.sorting_1 {background-color:#232827!important;color:#aab5b9!important;}
  tr.even td.sorting_1 {background-color:#303735!important;color:#aab5b9!important;}
  tr.odd td.sorting_1:hover {background-color:#2b3130!important;color:#e2ebe9!important;}
  tr.even td.sorting_1:hover {background-color:#38403d!important;color:#e2ebe9!important;}
  tr.odd:hover {background-color:#2b3130!important;color:#e2ebe9!important;}
  tr.even:hover {background-color:#38403d!important;color:#e2ebe9!important;}
  div.card-header {background-color:#424c4c!important;color:#bcc1c0!important;}
  div.card-body {background-color:#272c2c !important;color:#bcc1c0!important;}
  div.card.bg-light.mb-3 {background-color:#808989!important;}
  input.form-control {background-color:#323838!important;color:#dfecef!important;}
  /*div.container {padding-bottom:60px;}*/
  .progress-bar {color:#000!important;font-weight:bold!important;}
  .progress {background-color:#788789!important;}
}
.jumbotron{color:white;padding:10px;}
.card-header {background-color: rgb(58, 62, 61);}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
  }